# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
*.sublime-workspace
*.swp
*.swo

# Project Specific
/node_modules
*.log
/lib
/apps/academia-mobile/.gradle
tmp
.changelog
coverage/
.eslintcache

# Just testing code...
businessman-mobile-experimental*

# Other
apps/ignored*
